@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&family=Cinzel:wght@400..900&family=Cormorant+SC:wght@300;400;500;600;700&family=Dosis:wght@200..800&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arizonia&family=Cherish&family=Cinzel+Decorative:wght@400;700;900&family=Cinzel:wght@400..900&family=Cormorant+SC:wght@300;400;500;600;700&family=Dosis:wght@200..800&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Mrs+Saint+Delafield&display=swap');
/* d5bdaf - e3d5ca - f5ebe0 - d6ccc2 - edede9 - 9A005A */
body{
    padding: 0;
    margin: 0 auto;
    background-color: #f5ebe0;
}
p, li{
    font-family: dosis, sans-serif;
    color: #9A005A;
}
h1, h2, h3, h4, h5, h6{
    text-align: center;
    font-family: 'Cinzel Decorative', cursive;
    font-variant: small-caps;
    /* color: #9A005A; */
    
    color: #69327F;
}
.nav-bar a{
    text-decoration: none;
    height: 80%;
    width: 100%;
    font-family: 'Mrs Saint Delafield';
    font-size: 3em;
    background-color: #f5ebe0;
    color: #9A005A;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border-bottom: 5px double #9A005A00;
    border-top: 5px double #9A005A00;
}
.nav-bar-2 a{
    text-decoration: none;
    height: 90%;
    width: 100%;
    /* font-family: 'Cinzel Decorative', cursive;
    font-size: 1.5em; */
    font-family: 'Mrs Saint Delafield';
    font-size: 3em;
    background-color: #f5ebe0;
    color: #9A005A;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border-bottom: 5px double #9A005A00;
    border-top: 5px double #9A005A00;
}
.nav-bar a:hover{
    /* background-color: #9A005A; */
    color: #69327F;
    border-bottom: 5px double #69327F;
    border-top: 5px double #69327F;
}
.nav-bar-2 a:hover{
    /* background-color: #9A005A; */
    color: #69327F;
    border-bottom: 5px double #69327F;
    border-top: 5px double #69327F;
}
.cursive{
    font-family: 'Mrs Saint Delafield';
    color: #9A005A;
    text-align: center;
    font-size: 3em;
}
.logo{
    /* position: absolute; */
    max-height: 100px;
}
.nav-bar{
    padding: 5px;
    position: relative;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    place-items: center;
    text-align: center;
    /* background-color: #d5bdaf; */
}
.nav-bar-2{
    padding: 5px;
    position: relative;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    place-items: center;
    text-align: center;
    /* background-color: #d5bdaf; */
}
footer{
    background-color: #d5bdaf;
    color: #f5ebe0;
    padding: 25px 50px;
    /* margin-top: 200px; */
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer a{
    font-family: 'Mrs Saint Delafield';
    font-size: 2em;
    text-decoration: none;
    background-color:#d5bdaf;
    color: #f5ebe0;
}
footer a:hover{
    background-color:#d5bdaf;
    color: #9A005A;
}
footer .social img{
    padding-top: 15px;
}
.copyright{
    color: #f5ebe0;
}












header{
    position: relative;
}
.header-text{
    font-size: 3em;
    position: absolute;
    top : 0;
    /* color: white; */
    margin-left: 3em;
    margin-right: 3em;
}
.header-image {
    padding-top: 6em;
    z-index: -1;
    width: 100%;
    background-color: #d5bdaf;
}
#section-01{
    margin-top: 5em;
    margin-bottom: 5em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    place-items: center;
}
.section-01-images {
    width: 80%;
}
.section-01-text{
    margin-left: 5em;
}
#section-02{
    padding: 1em;
    background-color: #d5bdaf;
}
.section-02-text{
    text-align: center;
}
#section-03{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
    padding-top: 4em;
    padding-bottom: 4em;
    background-color: #e3d5ca;
}
.section-03-images{
    /* border-color: #d5bdaf; */
    border-color: #9A005A;
    border-style:double;
    border-width: 10px;
    /* border-radius: 20%; */
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    width: 80%;
}
#section-04{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5em;
    padding: 5em;
    /* padding-top: 5em;
    padding-left: 5em;
    padding-right: 5em; */
    
}
.section-04-text{
    /* word-spacing: 2px;
    line-height: 1.5; */
    
    /* letter-spacing: 1px; */
}
.text-margin{
    margin-bottom: 2em;
}
.indexed_list{
    text-indent: 2em;
}









#dnd{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 20px;
    margin-left: 240px;
    background-color: #d5bdaf;
    border-bottom: 2px solid #69327F;
    border-top: 2px solid #69327F;
}
#dnd img{
    width: 100%;
    border-radius: 30px;
    margin-bottom: 20px;
}
#portraits{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 20px;
    margin-left: 240px;
}
#portraits img{
    width: 100%;
    border-radius: 30px;
    margin-bottom: 20px;
}
#simpleDesigns{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 20px;
    margin-left: 240px;
    background-color: #d5bdaf;
    border-bottom: 2px solid #69327F;
    border-top: 2px solid #69327F;
}
#simpleDesigns img{
    width: 100%;
    border-radius: 30px;
    margin-bottom: 20px;
}
#landscapes{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 20px;
    margin-left: 240px;
}
#landscapes img{
    width: 100%;
    border-radius: 30px;
    margin-bottom: 20px;
}
#tattoos{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 20px;
    margin-left: 240px;
    background-color: #d5bdaf;
    border-bottom: 2px solid #69327F;
    border-top: 2px solid #69327F;
}
#tattoos img{
    width: 100%;
    border-radius: 30px;
    margin-bottom: 20px;
}
#logos{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 20px;
    margin-left: 240px;
    border-bottom: 2px solid #69327F;
}
#logos img{
    width: 100%;
    margin-bottom: 20px;
}
.panel {
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    height: 100%;
    padding: 20px;
    overflow-y: auto;
    background-color: #e3d5ca;
    display: flex; /* Use flexbox layout */
    flex-direction: column; /* Stack items vertically */
    justify-content: center; /* Center items vertically */
    align-items: center;
}
.panel a {
    text-decoration: none;
    height: 40px;
    width: 100%;
    text-align: center;
    font-family: 'Cinzel Decorative', cursive;
    font-variant: small-caps;
    font-size: 1em;
    background-color: #e3d5ca;
    color: #9A005A;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.panel a:hover {
    background-color: #9A005A;
    color: #e3d5ca;
}
.content {
    margin-left: 240px;
    padding: 20px;
}
.portfolio-footer{
    margin-left: 240px;
}
.portfolio_title{
    grid-column: 1/-1;
    border-bottom: 5px double #69327F;
    border-radius: 20px;
}




.faq-section {
    margin: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
}
.faq{
    text-align: center;
    border-radius: 10px;
    border-color: #9A005A;
    border-style: solid;
    border-width: 1px;
    padding: 1em;
    background-color: #e3d5ca;
}
#faq-title{
    text-align: center;
    font-size: 3em;
}





b, strong{
    /* color: #35166D; */
    /* color: #1F1E4B; */
    /* color: #493775; */
    color: #69327F;
    /* color: #7C216D; */
}





.question{
    font-size: 1.2em;
}
form{
    position: absolute;
    top: 400px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #e3d5ca;

    margin: 0 auto;
    width: 500px;
    padding: 1em;
    border: 1px solid #9A005A;
    border-radius: 1em;

    height: 300px;
    display: grid;
    place-items: center;
} 
ul {
    list-style: none;
    padding: 0;
    margin: 0;
    color: #9A005A;
}
form li + li {
    margin-top: 1em;
}
form ul{
}
label {
    display: inline-block;
    width: 170px;
    /* text-align: right; */
}
input, textarea {
    font-family: dosis, sans-serif;
    font-size: 1em;
    /* width: 300px; */
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #9A005A;
    color: #9A005A;
}
input:focus, textarea:focus {
    border-color: #9A005A;
}
textarea {
    vertical-align: top;
    height: 5em;
}
button {
    margin-left: 0.5em;
    color: #9A005A;
}
.confirmation-message p{
 text-align: center;
}

.form-container {
    display: none;
}
.visible {
    display: block;
}